$color-primario: gold;
$color-secundario: white;
$tipografia-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-secundaria: 'Times New Roman', Times, serif;
$color-header-footer: black;
$direccion: center