@import "variables";
@import "reset";
@import "mixins";

header{
    position: sticky;
    top: 0%;
    z-index: auto;
    background-color: $color-header-footer;
    .navbar-nav {
      display: block;
      margin-right: 5%;
      color: $color-secundario !important;
      text-decoration: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      .nav-link{
        &:hover {
          color: $color-secundario;
          font-weight: bold;
          text-shadow: 0 0 10px $color-primario , 0 0 20px $color-primario , 0 0 30px $color-primario , 0 0 40px $color-primario , 0 0 70px $color-primario , 0 0 80px $color-primario , 0 0 100px $color-primario ;
          }
        }
    }
}
.ahorro{
    padding: 5%;}
  
body{
  background: url(../assets/imagenes/background01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
      .logomain{
      width: 10%;
      }   
    .textoAmarillo{
      font-family: $tipografia-principal;
      font-style: italic;
      font-weight: bold;
      font-size: 600%;
      color: $color-primario;
      text-shadow: -2px -2px 1px #000;
      }
    .textoNegro{
      font-family: $tipografia-principal;
      font-weight: bold;
      font-size: 400%;
      text-shadow: -2px -2px 1px $color-primario;
      }
    .videoIndex{
      float: right;
      margin-top: -30%;
      }
  }


.row{
  @include flex-direction-center($direccion);
  .col{
    .card{
      .card-img-top{
        height: 40vh;}
      
      .card-body{
        background-color: $color-primario;
        border-radius: 0px 30px/50px;
        .card-title{
          font-family: $tipografia-secundaria;
          font-style: italic;
          font-weight: bold;
          text-align: center;
          font-size: xx-large;
        }
      }   
    }
  }
}
.cardventaja{
  padding: 2%;
  .card{
    .row{
      .card-body{
        background-color: $color-primario;
        height: auto;
        border-radius: 0px 30px/50px;
        .card-title{
          font-family: $tipografia-secundaria;
          font-style: italic;
          font-weight: bold;
          text-align: center;
          font-size: xx-large;
        }
        .textoAmarilloH5{
          background-color: #000;
          font-family: $tipografia-principal;
          font-weight: bold;
          font-size: 2rem;
          color: $color-secundario;
          text-shadow: -2px -2px 1px rgb(0, 0, 0);
        }
        .card-text{
          font-weight: bold;
        }
      }
    }
  }
}

.textoNegroP{
  color: #000;
  font-weight: bold;
  text-shadow: -2px -2px 1px $color-secundario;
}

.textoH1{
  font-family: $tipografia-principal;
  font-style: italic;
  font-weight: bold;
  font-size: 300%;
  text-shadow: -2px -2px 1px #000;
  color: $color-primario;
  padding-left: 5%;
}


.btn-outline-light {
  color: $color-primario;
  border-color: $color-primario;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: $color-primario;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: $color-primario;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.icon{
  width: 2rem;
  box-shadow: 0 0 5px $color-primario, 0 0 10px $color-primario, 0 0 15px $color-primario, 0 0 20px $color-primario, 0 0 30px $color-primario , 0 0 40px $color-primario , 0 0 50px $color-primario;
}
.textoAmarilloH2{
  font-family: $tipografia-principal;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  color: $color-primario;
  text-shadow: -2px -2px 1px #000;
}



.card-img-top{
  padding: 5%;
}
.btn-primary {
  color: $color-secundario;
  background-color: black;
  border-color: $color-primario;
    &:hover {
      color: rgb(0, 0, 0);
      background-color: $color-primario;
      border-color: $color-primario;
    }
}
    .form-check-input:checked {
      background-color: $color-primario;
      border-color: $color-primario;
      }

.iconoFlotante{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:$color-primario;
  color:$color-primario;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}
.iconoarriba{  
  height: 50%;
}
.footer{
  background-color: $color-header-footer;
}

/*Pantallas pequeñas (móviles de más de 576px)*/
@media (max-width: 739px) {
  body{
    .ahorro{
      .logomain{
        width: 50%;
        }
      .card{
      align-items: center;
        .card-img-top{
        width: 40%;
        height: 50%;
        padding: 1%;
        }
      }
      .textoAmarillo{
        font-family: $tipografia-principal;
        font-style: italic;
        font-weight: bold;
        font-size: 100%;
        color: $color-primario;
        text-shadow: -2px -2px 1px #000;
        }
      .textoNegro{
        font-family: $tipografia-principal;
        font-weight: bold;
        font-size: 50%;
        text-shadow: -2px -2px 1px $color-primario;
        }
      .videoIndex{
        width: 100%;
        margin-top: 5%;
        }
        .btn-primary {
          color: $color-secundario;
          background-color: black;
          border-color: $color-primario;
          size: 10%;
            &:hover {
              color: rgb(0, 0, 0);
              background-color: $color-primario;
              border-color: $color-primario;
            }
        }
        .textoAmarilloH2{
          font-family: $tipografia-principal;
          font-style: italic;
          font-weight: bold;
          font-size: 1rem;
          color: $color-primario;
          text-shadow: -2px -2px 1px #000;
        }
        .textoNegroP{
          color: #000;
          font-weight: bold;
          font-size: 1rem;
          text-shadow: -2px -2px 1px $color-secundario;
        }
    }
  }
  header{
    .nav {
      display: inline;
      flex-wrap: wrap;
      padding-left: 10%;
      margin-bottom: 10%;
      list-style: none;
    }
  }
}

/*Pantallas medianas (tablets de más de 768px)*/
@media (min-width: 740px) and (max-width: 1200px) {
  
  body{
    .ahorro{
      .logomain{
        width: 13%;
        }
      .card{
      align-items: center;
        .card-img-top{
        width: 40%;
        height: 50%;
        padding: 1%;
        }
      }
      .textoAmarillo{
        font-family: $tipografia-principal;
        font-style: italic;
        font-weight: bold;
        font-size: 300%;
        color: $color-primario;
        text-shadow: -2px -2px 1px #000;
        }
      .textoNegro{
        font-family: $tipografia-principal;
        font-weight: bold;
        font-size: 200%;
        text-shadow: -2px -2px 1px $color-primario;
        }
      .videoIndex{
        float: right;
        width: 50%;
        margin-top: -30%;
        }
    }
  }
  header{
    .nav {
      display: inline;
      flex-wrap: wrap;
      padding-left: 10%;
      margin-bottom: 10%;
      list-style: none;
    }
  }
}

/*Pantallas muy grandes (desktops de más de 1000px)*/
@media (max-width: 1000px) {


}